<div class="blog-navbar navbar">
  <section class="navbar-section">
<button mat-button class="blog-title">

  <span >Despair Driven Development</span>

</button>
  </section>
  <section *ngIf="this.wSize>750" class="navbar-section">

    <form class="example-form">
      <mat-form-field class="search-bar">
        <mat-icon matPrefix>search</mat-icon>

        <input matInput>
      </mat-form-field>
    </form>
  </section>
  <section class="navbar-section">

    <div class="blog-avatar">
      <mat-menu #profileMenu="matMenu">
        <button (click)="goToSignUpPage()" mat-menu-item>
          <mat-icon>lock_open</mat-icon>

          SignIn
        </button>
        <button (click)="goToSignUpPage()" mat-menu-item>
          <mat-icon>lock_open</mat-icon>

          SignIn
        </button>
        <button mat-menu-item>
          <mat-icon>person</mat-icon>

          View Profile
        </button>
      </mat-menu>

      <button [matMenuTriggerFor]="profileMenu" aria-label="home icon" color="primary" mat-mini-fab>
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </section>


</div>
