<div class="container">
 <custom-card>

      <div class="columns col-12">
        <div class="column col-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
          </ul>
        </div>
      </div>
 </custom-card>
  <br />
  <div>

    <div class="columns col-12">
      <div class="columns col-12">
        <span class="text-center text-italic text-ellipsis h1 full">Hello there</span>
      </div>
    </div>

  </div>


</div>
<!-- <div>Message: {{ hello$ | async | json }}</div> -->
