<div class="container">
 <pvoltaire-custom-card>

      <div class="columns col-12">
        <div class="column col-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
          </ul>
        </div>
      </div>
 </pvoltaire-custom-card>
  <br />
  <div>

    <div class= " extraPadding columns col-12">
      <div class="columns col-12 extraPadding">
        <span class="text-center text-italic text-ellipsis h1 full">Hello there</span>
      </div>
      <div class="columns col-12">
        <form class=" full pure-form flex-container pure-form-aligned ">
            <div class="columns col-6">

            <div class="columns col-10 col-sm-12 pure-control-group">
              <input class="pure-input-1 full" id="search" type="text" placeholder="You will find nothing of value in here but go ahead and search for something...">
            </div>
            <div class="columns col-1 col-sm-12 pure-control-group">
              <button type="submit" class="pure-button pure-button-primary">Search</button>

            </div>
            </div>
        </form>
      </div>
    </div>
    <pvoltaire-custom-card >
      <div class="box">

        <div class="card contentCard">

          <div class="card-header">
            <div class="card-title h5">...</div>
            <div class="card-subtitle text-gray">...</div>
          </div>
          <div class="card-body">
            ...
          </div>

      </div>
      </div>
    </pvoltaire-custom-card>

  </div>


</div>
<!-- <div>Message: {{ hello$ | async | json }}</div> -->
