/*
 * Remove template code below
 */


.main-card
  border-radius: 10px
  z-index: auto
  min-height: calc(100vh - 140px)
  margin-left: 0 !important
  margin-right: 0 !important
  display: inline-block

$layout-breakpoint-small: 1500px

@media (min-width: $layout-breakpoint-small)
  .main-card
    max-width: 45vw
