<div class="main-card">
  <div class="posts">

    <mat-card *ngFor="let post of ($postList|async);index as i"   [routerLink]="['/post']" [queryParams]="{id: post.id}"
              class="post-card" matRipple>
      <mat-card-header class="card-header">


        <mat-card-title class="card-title">
          <div class="card-title-content">
            <a [queryParams]="{id: post.id}"
               [routerLink]="['/post']" class="card-title-content"
            >{{post.PostTitle}}</a>
            <span class="meta-title" *ngIf="post.author" >
              {{post.author}}    •    </span>
            <span class="meta-title">   {{(post.UpdateDate ? post.UpdateDate : post.CreatedDate)|date}}
          </span>
          </div>


        </mat-card-title>

        <mat-card-subtitle class="card-subtitle">
       <span class="card-subtitle-content">   {{post.PostSubTitle|slice: 0 :100}} </span>

        </mat-card-subtitle>


      </mat-card-header>

      <mat-card-content class="card-content">
        <a [queryParams]="{id: post.id}"
           [routerLink]="['/post']" class="content-text " >
          <markdown> > {{post.PostContent|slice: 0 :150}}</markdown>
        </a></mat-card-content>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>


  </div>

</div>
