<div class="blog-navbar navbar">
    <section class="navbar-section">

    <div class="blog-menu">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>About</button>
        </mat-menu>
      </div>
      <button [matMenuTriggerFor]="appMenu" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="blog-title">Despair Driven Development</span>
    </section>
    <section *ngIf="this.wSize>750" class="navbar-section">

      <form class="example-form">
        <mat-form-field class="search-bar">
          <mat-icon matPrefix>search</mat-icon>

          <input matInput>
        </mat-form-field>
      </form>
    </section>
    <section class="navbar-section">

    <div class="blog-avatar">
        <button aria-label="Example icon button with a home icon" disabled mat-mini-fab>
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </section>



</div>
